.tandc {
  height: auto;
  width: 80%;
  margin: 20px auto;
  font-size: 12px;
  font-weight: normal;

  &__title {
    background-color: #636363;
    border-radius: 12px;
    height: 30px;
    position: relative;
    cursor: pointer;

    .svg {
      height: auto;
      position: absolute;
      line-height: 0;
    }
  }

  &__text {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    color: white;
    left: 10px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    line-height: 30px;
    text-transform: uppercase;

    span {
      font-size: 20px;
      line-height: 30px;
      height: 30px;
    }
  }
}

.tandc__list {
  margin: 10px 20px;
  line-height: 1.2;

  ul li {
    margin-left: 20px;
  }
}